head {
    text-align: center;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #EEEEEE;

}
.nome{
    text-align: center;
    font-size: x-large;
}

.headernome{
    margin: 0% 15% 5% 15%;
}
.listmenu {
    
    list-style: none;
    display: inline;
    padding: 1%;
    border: solid;
    border-color: #64CCC5;
}
.linkmenu:hover{
    background-color: #176B87;

}
#formacao {
    background-color: #053B50;
}

.linkedin {
    display: flex;
    align-items: center;
}