head {
    text-align: center;
}
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #e3d5ca;

}
.nome{
    text-align: center;
    font-size: x-large;
}

.headernome{
    margin: 0% 15% 5% 15%;
}
.listmenu {
    
    list-style: none;
    display: inline;
    padding: 1%;
    border: solid;
    border-color: #64CCC5;
}
.linkmenu:hover{
    background-color: #176B87;

}
#formacao {
    background-color: #053B50;
}

.linkedin {
    display: flex;
    align-items: center;
}
.ww {
    border-style: solid;
    border-width: 20;
    border-color: aquamarine;
    border-radius: 2em;
    padding: 5%;
    width: max-content;
    margin-left:35%;
    margin-right:30%;
}
h1 {
    text-align: center;
    position: relative;
    top: -100px;
}

